  <div class="banner-content">
    <h1>DashBoard</h1>
    </div>
<div>
  <h3><%= @user.name%></h3>
  <%= image_tag @user.avatar %>
  <h5><%= @user.email%></h5>
  <h5><%= @user.city %></h5>
  <%= link_to "Rajouter une graine", new_seedpack_path, class: "btn btn-success btn-lg" %>
</div>

<div class="container">
  <div class="row">
    <h3>Mes Graines</h3>
    <% @myseeds.each do |seed| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?cocktail');">
          <div class="card-description">
            <h2><%=seed.name %></h2>
            <%= image_tag "logo.png", alt: "graine", width: 200 %>
          </div>
          <%= link_to "Détruire la fiche", seedpack_path, class: 'card-link' %>
          <%= link_to "Modifier la fiche", edit_seedpack_path, class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="row">
    <h3>Mes Ventes</h3>
    <% @mysells.each do |sell| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?cocktail');">
          <div class="card-description">
            <h2><%=sell.user.name %></h2>
          </div>
        <% end %>
        </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3>Mes Achats</h3>
    <% @mybuys.each do |buy| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?flowers');">
          <div class="card-description">
            <h2><%=buy.name %></h2>
          </div>
        <% end %>
        </div>
      </div>
  </div>
</div>
