<div class="container">
  <div class="search-bar"></div>
  <div> <%= link_to " Add a new seed", new_seedpack_path, class:"btn-add-seed-home" %>
  <div class="display-seed-block">
    <div class="title-display-seed page-title">
      Availables seeds
    </div>
    <div class="seed-cards-grid">
      <% @seedpacks_available.each do |seedpack| %>
      <%= link_to seedpack_path(seedpack) do %>
        <div class="card-seed">
          <img src="https://source.unsplash.com/500x400/?flowers" alt="seed-image">
          <div class="card-seed-content">
            <h2><%= seedpack.name %></h2>
            <p> <%= truncate seedpack.description, length: 70 %></p>
            <p><%= seedpack.price %>€</p>
          </div>
        </div>
      <% end %>
      <%end%>
    </div>
    </div>
  </div>
  <div class="map">
  </div>
</div>




<!--

  <div class="row">
    <% @seedpacks_available.each do |seedpack| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-seed" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?flowers');">
          <div class="card-seed-text">
            <h2><%= seedpack.name %></h2>
            <h3><%= seedpack.price %>€</h3>
            <h3> <%= seedpack.number %></h3>
            <%= link_to 'Details', seedpack_path(seedpack) %>
          </div>
        </div>
       </div>
        <%end%>
  </div>
 -->


<!-- probleme mauvaise authentification , il remet un mail (pas le bon)-->
