

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">

      <div class="card-seed" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://source.unsplash.com/500x400/?flowers');">
      </div>

      <div>
        <h2><%= @seedpack.name %></h2>
        <a href=""> <%= @seedpack.image %> </a>
        <p><%= @seedpack.description %></p>
      </div>
      <div>
          <h3> name : <%= @user.name %></h3>
          <h3> bio : <%= @user.bio %></h3>
          <h3>city : <%= @user.city %></h3>
      </div>
    </div>
  </div>

  <div class="row justify-content-center py-5">
     <div class="col-12 col-lg-6">
      <div>
        <h3> Quantité : <%= @seedpack.number %> - unité</h3>
        <h3> Prix : <%= @seedpack.price %>€</h3>
        <h3> Date d'ajout : <%= @seedpack.created_at
         %>€</h3>
      </div>

      <div>
        <h3> name : <%= @user.name %></h3>
        <h3> bio : <%= @user.bio %></h3>
        <h3>city : <%= @user.city %></h3>
        <h3><%= @user.avatar %></h3>
      </div>
    </div>
  </div>
  <%= link_to 'Retour', seedpacks_path, class:"btn btn-primary btn-lg" %>
</div>
