

<div class="show-container container">

  <div class=""><%= link_to ' back to Seeds list', seedpacks_path, class:"btn btn-primary btn-lg btn-back" %></div>

  <div class="card-seed-show d-flex" >

    <%= image_tag @seedpack.image, class: "image-seed", id:"seed_image" %>

    <div class="bio-seed position-relative">
      <h2><%= @seedpack.name %></h2>
      <h5>Description:</h5>
      <p><%= @seedpack.description %></p>
      <div class="position-absolute fixed-bottom "><%= link_to 'Buy', seedpack_orders_path(@seedpack), method: :post, class:"btn-buy" %></div>
    </div>

  </div>

  <div class= "card-complement d-flex justify-content-between border-radius=5px " >
    <div class="info-seedpack-seedshow p-3">
      <h3>Details:</h3>
      <div id="qty">
        <p>Quantity =       <%= @seedpack.number %> pcs</p>
      </div>
      <div id="price">
        <p>Price =          <%= @seedpack.price %> €</p>
      </div>
      <div id="creadate">
        <p> Creation date : <%= @seedpack.created_at %>€</p>
      </div>
    </div>

    <div class="info-user-seedshow d-flex">

      <div class="image-user" >
        <%= image_tag @user.avatar, class: "image-user", style: "width: 148px; height: 148px; margin: 16px"%>
      </div>
      <div class="bio-user-seedshow">
        <h3><%= @user.name %></h3>
        <h5>       Bio: </h5>
        <p><%= @user.bio %></p>
      </div>
    </div>
  </div>
  <div class=""><%= link_to ' back to Seeds list', seedpacks_path, class:"btn btn-primary btn-lg btn-back" %> </div>
</div>



<!-- <div class="row justify-content-center">
      <div class="col-12 col-lg-6"> -->



