<h2><%= @seedpack.name %></h2>
<a href=""> <%= @seedpack.image %> </a>
<p><%= @seedpack.description %></p>
<h3><%= @seedpack.number %></h3>
<h3><%= @seedpack.price %></h3>
<%= link to 'index', root_path %>
<h3><%= @user.name %></h3>
<h3><%= @user.bio %></h3>
<h3><%= @user.avatar %></h3>

<%= BUY  %>
